body {
  margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #333;
  background-color:rgb(245, 176, 224);
  text-align: center;
}


header {
  background: #ff69b4;
  color: #059635;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

nav {
  background: hsl(325, 100%, 86%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: chartreuse;
}

nav a {
  padding: 15px 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: background 0.3s;
}

nav a:hover {
  background: #ff85c1;
}

.section {
  padding: 40px 20px;
  text-align: center;
}

.section:nth-child(even) {
  background: #f0f8ff;
}

.code-box {
  background-color: hsl(0, 41%, 68%);
  color: hsl(156, 64%, 8%);
  font-family: monospace;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 20px auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  white-space: pre-wrap;
  text-align: left;
}

.fun-animation {
  animation: bounce 2s infinite;
  display: inline-block;
  font-size: 2em;
  color: cornflowerblue;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

footer {
  background: hsl(135, 82%, 53%);
  color: #2e8af3;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

@media (max-width: 600px) {
  nav a {
    flex: 1 1 100%;
    text-align: center;
  }

  .code-box {
    width: 95%;
  }
}
h3 {
  text-align: center;
  color: aquamarine;
}
nav:hover {
  background-color: hsl(0, 76%, 75%);
  color: #a546f3;
}
h2:hover {
  text-decoration: wavy;
}
button:active {
  background-color: pink;
}
p:active {
  font-weight: bold;
  color: #e93333;
}

/* Styling the Form */
form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Styling .form-control */
.form-control {
    text-align: left;
    margin-bottom: 25px;
}

/* Styling .form-control label */
.form-control label {
    display: block;
    margin-bottom: 10px;
}

/* Styling .form-control input, select, textarea */
.form-control input,
.form-control select,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

/* Styling Radio button and Checkbox */
.form-control input[type="radio"],
.form-control input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

/* Styling Button */
button {
    background-color: hsl(330, 68%, 59%);
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 21px;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}
