h1{
    text-align: center;
    color: #ffa511;
    font-family: league spartan;
    text-size-adjust: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5ex;
 text-decoration: underline;
  text-decoration-color: teal;
  text-decoration-style: double;

}
